.signup-page {
  min-height: 100vh;
  background-color: #0fe132;

  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  background-image:url("/public/Images/agricultural\ products.jpg");
  color: #fff;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: rgb(25, 218, 31);
}

.message {
  font-size: 14px;
  color: #aaa;
}

.flex {
  display: flex;
  gap: 10px;
}

.input {
  width: 100%;
  padding: 10px 10px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #aaa;
  background: transparent;
  color: #0e0f0e;
}

label {
  position: relative;
}

label span {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #aaa;
  font-size: 14px;
  transition: 0.3s;
}

.input:focus + span,
.input:valid + span {
  top: -10px;
  font-size: 12px;
  color: #00ff99;
}

.submit {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #00ff99;
  color: black;
  cursor: pointer;
  hover: #0de540;
    
  
}
.signin {
  text-align: center;
  font-size: 14px;
}
